<a href="https://colab.research.google.com/github/aidot-kr/AISecurity/blob/master/13_BERT_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset Pre-processing

In [ ]:

import pandas as pd
import numpy as np

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path1 = '/content/drive/My Drive/bert/aggression_parsed_dataset.csv'
file_path2 = '/content/drive/My Drive/bert/new_dataset1.csv'
file_path3 = '/content/drive/My Drive/bert/attack_parsed_dataset.csv'
data1 = pd.read_csv(file_path1)
data2 = pd.read_csv(file_path2)
data3 = pd.read_csv(file_path3)

In [ ]:
data1.head()

,index,Text,ed_label_0,ed_label_1,oh_label
0,0,`- This is not ``creative``. Those are the di...,0.900000,0.100000,0
1,1,` :: the term ``standard model`` is itself le...,1.000000,0.000000,0
2,2,"True or false, the situation as of March 200...",1.000000,0.000000,0
3,3,"Next, maybe you could work on being less cond...",0.555556,0.444444,0
4,4,This page will need disambiguation.,1.000000,0.000000,0

In [ ]:
data2.head()

                                                Text  oh_label
0  "i really don't understand your point.\xa0 It ...         0
1  "A\\xc2\\xa0majority of Canadians can and has ...         0
2  "listen if you dont wanna get married to a man...         0
3  "@SDL OK, but I would hope they'd sign him to ...         0
4                      "Yeah and where are you now?"         0

In [ ]:
data3.head()

,index,Text,ed_label_0,ed_label_1,oh_label
0,0,`- This is not ``creative``. Those are the di...,1.000000,0.000000,0
1,1,` :: the term ``standard model`` is itself le...,1.000000,0.000000,0
2,2,"True or false, the situation as of March 200...",1.000000,0.000000,0
3,3,"Next, maybe you could work on being less cond...",0.555556,0.444444,0
4,4,This page will need disambiguation.,1.000000,0.000000,0

In [ ]:
data1.isnull().sum()

index         0
Text          0
ed_label_0    0
ed_label_1    0
oh_label      0
dtype: int64

In [ ]:
data2.isnull().sum()

Text        0
oh_label    0
dtype: int64

In [ ]:
data3.isnull().sum()

index         0
Text          0
ed_label_0    0
ed_label_1    0
oh_label      0
dtype: int64

In [ ]:
data1['oh_label'].value_counts()

0    101082
1     14782
Name: oh_label, dtype: int64

In [ ]:
data2['oh_label'].value_counts()

1    43804
0    22499
Name: oh_label, dtype: int64

In [ ]:
data3['oh_label'].value_counts()

0    102274
1     13590
Name: oh_label, dtype: int64

In [ ]:
a = 14782+43804+13590

In [ ]:
b = 101082+22499+102274

In [ ]:
b-a

153679

In [ ]:
#data1에서 6만개, data2 에서 2만개, data 3에서 6만개

In [ ]:
# 라벨 값이 1인 행만 선택
df1 = data1[data1['oh_label'] == 0]

# 이 중에서 무작위로 20000개를 선택
df_ones_sampled = df1.sample(n=73000, random_state=1)

# 선택된 행을 원래의 데이터프레임에서 삭제
df1 = data1.drop(df_ones_sampled.index)

In [ ]:
# 라벨 값이 1인 행만 선택
df3 = data3[data3['oh_label'] == 0]

# 이 중에서 무작위로 20000개를 선택
df_ones_sampled = df3.sample(n=60000, random_state=1)

# 선택된 행을 원래의 데이터프레임에서 삭제
df3 = data1.drop(df_ones_sampled.index)

In [ ]:
# 라벨 값이 1인 행만 선택
df2 = data2[data2['oh_label'] == 0]

# 이 중에서 무작위로 20000개를 선택
df_ones_sampled = df2.sample(n=20000, random_state=1)

# 선택된 행을 원래의 데이터프레임에서 삭제
df2 = data2.drop(df_ones_sampled.index)

In [ ]:
df2['oh_label'].value_counts()

1    43804
0     2499
Name: oh_label, dtype: int64

In [ ]:
df1['oh_label'].value_counts()

0    28082
1    14782
Name: oh_label, dtype: int64

In [ ]:
df1.head()

,index,Text,ed_label_0,ed_label_1,oh_label
0,0,`- This is not ``creative``. Those are the di...,0.9,0.1,0
5,5,- Important note for all sysops: There is a ...,1.0,0.0,0
7,7,`:If you ever claimed in a Judaic studies prog...,0.8,0.2,0
9,9,"`Someone wrote: More recognizable, perhaps, is...",0.9,0.1,0
15,15,gets far more tendentious yet.,1.0,0.0,0

In [ ]:
df3['oh_label'].value_counts()

0    41968
1    13896
Name: oh_label, dtype: int64

In [ ]:
data2['oh_label'].value_counts()

1    43804
0    22499
Name: oh_label, dtype: int64

In [ ]:
data2.head()

                                                Text  oh_label
0  "i really don't understand your point.\xa0 It ...         0
1  "A\\xc2\\xa0majority of Canadians can and has ...         0
2  "listen if you dont wanna get married to a man...         0
3  "@SDL OK, but I would hope they'd sign him to ...         0
4                      "Yeah and where are you now?"         0

In [ ]:
df1 = df1.drop(columns=['index'])
df1.head()

,Text,ed_label_0,ed_label_1,oh_label
0,`- This is not ``creative``. Those are the di...,0.9,0.1,0
5,- Important note for all sysops: There is a ...,1.0,0.0,0
7,`:If you ever claimed in a Judaic studies prog...,0.8,0.2,0
9,"`Someone wrote: More recognizable, perhaps, is...",0.9,0.1,0
15,gets far more tendentious yet.,1.0,0.0,0

In [ ]:
df1 = df1.drop(columns=['ed_label_0','ed_label_1'])
df1.head()

                                                Text  oh_label
0  `- This is not ``creative``.  Those are the di...         0
1   -  Important note for all sysops: There is a ...         0
2  `:If you ever claimed in a Judaic studies prog...         0
3  `Someone wrote: More recognizable, perhaps, is...         0
4                    gets far more tendentious yet.          0

In [ ]:
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df3.reset_index(drop=True)
df1.head()

                                                Text  oh_label
0  `- This is not ``creative``.  Those are the di...         0
1   -  Important note for all sysops: There is a ...         0
2  `:If you ever claimed in a Judaic studies prog...         0
3  `Someone wrote: More recognizable, perhaps, is...         0
4                    gets far more tendentious yet.          0

In [ ]:
print(df1.dtypes)
print(df2.dtypes)
print(df3.dtypes)

Text        object
oh_label     int64
dtype: object
Text        object
oh_label     int64
dtype: object
Text        object
oh_label     int64
dtype: object

In [ ]:
df = pd.concat([df1, df2, df3]).reset_index(drop=True)
print(df)

                                                     Text  oh_label
0       `- This is not ``creative``.  Those are the di...         0
1        -  Important note for all sysops: There is a ...         0
2       `:If you ever claimed in a Judaic studies prog...         0
3       `Someone wrote: More recognizable, perhaps, is...         0
4                         gets far more tendentious yet.          0
...                                                   ...       ...
145026  ` :::::::::::::Again, WP:NOTAFORUM (and there'...         0
145027  `The lead also lacks proper citation and sourc...         0
145028  ` Yes, from the word ``Guci`` or ``Puci`` mean...         0
145029   :The way you're trying to describe it in this...         0
145030    == Warning ==  There is clearly a protection...         0

[145031 rows x 2 columns]

In [ ]:
df['oh_label'].value_counts()

0    72549
1    72482
Name: oh_label, dtype: int64

In [ ]:
df.head()

                                                Text  oh_label
0  `- This is not ``creative``.  Those are the di...         0
1   -  Important note for all sysops: There is a ...         0
2  `:If you ever claimed in a Judaic studies prog...         0
3  `Someone wrote: More recognizable, perhaps, is...         0
4                    gets far more tendentious yet.          0

In [ ]:
!pip install langdetect

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 kB 16.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from langdetect) (1.16.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993224 sha256=8d1bbc7b8bef1fb7488a89e1376f3a0d2406235f911b0856e8b13f4a3cde4569
  Stored in directory: /root/.cache/pip/wheels/95/03/7d/59ea870c70ce4e5a370638b5462a7711ab78fba2f655d05106
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9

In [ ]:
from langdetect import detect

def is_english(Text):
    try:
        return detect(Text) == 'en'
    except:
        return False

# 데이터프레임의 'text' 열에서 영어 댓글만 남깁니다.
df = df[df['Text'].apply(is_english)]
print(df)

                                                    Text  oh_label
1      "i really don't understand your point.\xa0 It ...         0
2      "A\\xc2\\xa0majority of Canadians can and has ...         0
3      "listen if you dont wanna get married to a man...         0
5      "@SDL OK, but I would hope they'd sign him to ...         0
6                          "Yeah and where are you now?"         0
...                                                  ...       ...
71364  Black ppl aren't expected to do anything, depe...         1
71365  Turner did not withhold his disappointment. Tu...         1
71366  I swear to God. This dumb nigger bitch. I have...         1
71367  Yea fuck you RT @therealexel: IF YOURE A NIGGE...         1
71368  Bro. U gotta chill RT @CHILLShrammy: Dog FUCK ...         1

[66303 rows x 2 columns]

In [ ]:
df = df.reset_index(drop=True)
df

                                                    Text  oh_label
0      "i really don't understand your point.\xa0 It ...         0
1      "A\\xc2\\xa0majority of Canadians can and has ...         0
2      "listen if you dont wanna get married to a man...         0
3      "@SDL OK, but I would hope they'd sign him to ...         0
4                          "Yeah and where are you now?"         0
...                                                  ...       ...
66298  Black ppl aren't expected to do anything, depe...         1
66299  Turner did not withhold his disappointment. Tu...         1
66300  I swear to God. This dumb nigger bitch. I have...         1
66301  Yea fuck you RT @therealexel: IF YOURE A NIGGE...         1
66302  Bro. U gotta chill RT @CHILLShrammy: Dog FUCK ...         1

[66303 rows x 2 columns]

In [ ]:
df['oh_label'].value_counts()

1    43804
0    22499
Name: oh_label, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66303 entries, 0 to 66302
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      66303 non-null  object
 1   oh_label  66303 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

In [ ]:
df.to_csv('/content/drive/My Drive/bert/new_dataset3_big.csv', index=False)

In [ ]:
# 라벨 값이 1인 행만 선택
df_ones = df[df['oh_label'] == 1]

# 이 중에서 무작위로 20000개를 선택
df_ones_sampled = df_ones.sample(n=20000, random_state=1)

# 선택된 행을 원래의 데이터프레임에서 삭제
df_balanced = df.drop(df_ones_sampled.index)

In [ ]:
df_balanced.head()
df_balanced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46303 entries, 0 to 66302
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      46303 non-null  object
 1   oh_label  46303 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [ ]:
df_balanced.to_csv('/content/drive/My Drive/bert/new_dataset2_undersampling.csv', index=False)